@use '../../../../../styles' as *;

.form {
    .form-field {
        width: 100%;

        .mat-mdc-input-element {
            height: 150px;
        }
    }

    .error {
        color: $error-color;
    }
}
