@import '../../../../styles.scss';

:host {
    height: 100%;
    width: 100%;
    max-width: 600px;
    display: flex;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
    padding-right: 15px;

    .header {
        .title {
            font-size: 20px;
        }
    }

    .stepper {
        background: transparent;
    }

    .form {
        min-height: 320px;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
    }

    .wallet-form {
        .row {
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 20px;

            .mat-mdc-form-field {
                flex: 1;

                &.large {
                    flex: 2;
                }
            }
        }
    }

    .address-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .title {
            text-align: center;
            font-size: 20px;
            margin-bottom: 5px;

            span {
                color: $primary-color;
            }
        }

        .or {
            color: $primary-color;
        }

        .subtitle {
            text-align: center;
            color: $text-gray;
            margin-bottom: 20px;
        }

        .addresses {
            display: flex;
            gap: 20px;
            flex-direction: column;
            overflow-y: auto;

            .address {
                .value {
                    display: flex;

                    .prefix {
                        color: $primary-color;
                        width: 50px;
                        text-align: right;
                    }
                }
            }
        }

        .address-confirmed {
            padding: 5px 3px;
            border-radius: 3px;
            background: $warn-color;

            &.confirmed {
                background: $success-color;
            }
        }
    }

    .actions {
        display: flex;
        gap: 20px;
        justify-content: end;
    }
}

::ng-deep .mat-mdc-tab-body-content {
    .contents {
        margin-top: 15px;

        .form-field {
            width: 100%;

            &.xpub {
                height: 110px;
            }
        }
    }
}

.hide-header {
    ::ng-deep .mat-mdc-tab-header {
        display: none !important;
        background: red;
    }
}

.icon-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    &.trigger {
        gap: 10px;
    }
}
