<div class="container">
    <div class="header">
        <div class="title">{{ existingWallet ? 'Edit' : 'Add' }} Wallet</div>
    </div>
    <mat-stepper [linear]="true" #stepper class="stepper" (selectionChange)="onStepChange($event)">
        <mat-step [stepControl]="nameFormGroup" label="Name">
            <form [formGroup]="nameFormGroup" class="name-form form">
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name" />
                    @if (nameFormGroup.get('name')?.hasError('nameTaken')) {
                        <mat-error>Name must be unique.</mat-error>
                    }
                </mat-form-field>
                <mat-form-field class="large">
                    <mat-label>Icon</mat-label>
                    <mat-select formControlName="icon" (selectionChange)="onIconSelectionChange($event)">
                        <mat-select-trigger>
                            <div class="icon-option trigger">
                                <img [src]="'assets/wallet/icon/' + selectedIcon.icon" width="20" />
                                <div>{{ selectedIcon.label }}</div>
                            </div>
                        </mat-select-trigger>
                        @for (icon of iconOptions; track icon) {
                            <mat-option [value]="icon.value">
                                <div class="icon-option">
                                    <img [src]="'assets/wallet/icon/' + icon.icon" style="max-width:40px; max-height:40px; width: 40px;" />
                                    <div>{{ icon.label }}</div>
                                </div>
                            </mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </form>
            <div>
                <button mat-button [routerLink]="'/wallets'">Cancel</button>
                <button mat-button color="primary" matStepperNext [disabled]="!nameFormGroup.valid">Next</button>
            </div>
        </mat-step>
        <mat-step [stepControl]="keysFormGroup" label="Keys">
            <form [formGroup]="keysFormGroup" class="wallet-form form">
                <div class="row">
                    <mat-form-field class="large">
                        <mat-label>Policy</mat-label>
                        <mat-select formControlName="policyType">
                            @for (type of policyTypes; track type) {
                                <mat-option [value]="type.value">{{ type.label }}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                    @if (isMultiSig) {
                        <mat-form-field>
                            <mat-label>M</mat-label>
                            <input matInput type="number" formControlName="m" min="1" [max]="keysFormGroup.get('n')?.value" />
                            @if (keysFormGroup.get('m')?.hasError('max')) {
                                <mat-error>M must be less than N.</mat-error>
                            }
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>N</mat-label>
                            <input matInput type="number" formControlName="n" min="1" max="15" />
                        </mat-form-field>
                    }
                </div>
                <mat-tab-group formArrayName="keys" [class]="{ 'hide-header': !isMultiSig }">
                    @for (control of keysFormArrayGroups; track control; let index = $index) {
                        <mat-tab [label]="'xpub' + index" class="key" [formGroupName]="index">
                            <div class="contents">
                                <mat-form-field class="form-field xpub">
                                    <mat-label>
                                        <span>Extended Public Key</span>
                                        @if (isMultiSig) {
                                            <span> {{ index + 1 }}</span>
                                        }
                                    </mat-label>
                                    <textarea matInput formControlName="value"></textarea>
                                    @if (control.get('value')?.hasError('pattern')) {
                                        <mat-error>Invalid Extended Public Key.</mat-error>
                                    }
                                    @if (control.get('value')?.hasError('xpub')) {
                                        <mat-error>xpub has correct format, but is not valid.</mat-error>
                                    }
                                </mat-form-field>
                            </div>
                        </mat-tab>
                    }
                </mat-tab-group>
                <div class="options">
                    <button mat-button color="primary" (click)="onClickFormDescriptor($event)">From Descriptor</button>
                </div>
            </form>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button color="primary" matStepperNext [disabled]="!keysFormGroup.valid">Next</button>
            </div>
        </mat-step>
        <mat-step label="Confirm">
            <div class="address-container form">
                <div class="title">Confirm address 0:</div>
                <div class="addresses">
                    @for (address of addresses; track address) {
                        <div class="address">
                            <div class="value">
                                <span class="prefix">{{ address.prefix }}</span>
                                <span class="remainder">{{ address.remainder }}</span>
                            </div>
                        </div>
                    }
                </div>
                <div class="or">OR</div>
                <div class="title">Copy any address:</div>
                @if (addressConfirmed) {
                    <div [class]="{ 'address-confirmed': true, 'confirmed': addressConfirmed.isConfirmed }">
                        <i>{{ addressConfirmed.address }}</i>
                    </div>
                } @else {
                    <div style="color: #bbb">-</div>
                }
                <button mat-button color="accent" (click)="onShareFeedback()">Don't see your address?</button>
            </div>
            <div>
                <button mat-button matStepperPrevious (click)="revertConfirmation()">Back</button>
                <button mat-button color="primary" matStepperNext (click)="submit()">Save</button>
            </div>
        </mat-step>
    </mat-stepper>
</div>
