@import '../../../styles.scss';

:host {
    height: 100%;
    width: 100%;
    max-width: 600px;
    display: flex;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;

    .header {
        height: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .title {
            font-size: 20px;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        overflow-y: auto;

        .wallet {
            @extend .app-card;

            .wallet-content {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 15px;

                .logo {
                    height: 40px;

                    img {
                        height: 100%;
                    }
                }

                .details {
                    flex: 1;

                    .title {
                        font-size: 18px;
                    }

                    .subtitle {
                        font-size: 14px;
                        color: $text-gray;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 6px;
                    }
                }
            }
        }
    }

    .no-wallets {
        margin-top: 20px;
        text-align: center;
        color: $text-gray;
    }
}

.small-input {
    width: 70px;

    ::ng-deep .mdc-text-field {
        padding: 2px;
    }

    ::ng-deep .mat-mdc-form-field-infix {
        padding: 2px;
    }

    ::ng-deep .mat-mdc-form-field-infix {
        min-height: 0px;
    }

    ::ng-deep .mat-mdc-form-field-bottom-align {
        display: none;
    }
}

.alert {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    border-radius: 8px;
    gap: 10px;
    color: #fff3cd;
    background-color: #856404;

    .title {
        font-weight: bold;
    }
}

