<div class="container">
    <div class="header">
        <div class="title">My Wallets</div>
        <button mat-flat-button color="accent" [routerLink]="'add'">
            <mat-icon>add</mat-icon>
            <span>Add</span>
        </button>
    </div>
    <div class="content">
        @for (wallet of wallets; track wallet) {
            <div class="wallet">
                <div class="logo" matTooltip="Unknown Custodian">
                    <img [src]="'assets/wallet/icon/' + getIcon(wallet)" width="40" />
                </div>
                <div class="details">
                    <div class="title">{{ wallet.name }}</div>
                    @if (wallet.policyType === PolicyType.MultiSig) {
                        <div class="subtitle">{{ wallet.m }} of {{ wallet.n }} Multi Sig</div>
                    } @else {
                        <div class="subtitle">Single Sig</div>
                    }
                </div>
                <div>
                    <button mat-icon-button (click)="editWallet(wallet.id)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button (click)="openDialog(wallet)" color="warn">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        }
        @if (wallets.length == 0) {
            <div class="no-wallets">No wallets yet.</div>
        }
    </div>
</div>
