<div class="container">
    <div class="header">History</div>
    <div class="content">
        @for (item of history; track item) {
            <div class="item">
                <div class="details">
                    <div class="text">
                        <app-expandable-text [text]="item.value" />
                    </div>
                    @if (isAddressClipboardItem(item) && item.wallet) {
                        <div class="details">
                            <div class="type">Wallet:</div>
                            <img [src]="'assets/wallet/icon/' + getIcon(item.wallet).icon" height="20" />
                            <div class="name">{{ item.wallet.name }}</div>
                        </div>
                    } @else if (isAddressClipboardItem(item) && !item.wallet) {
                        <div class="secondary">No wallet found.</div>
                    } @else if (isPaymentClipboardItem(item)) {
                        <div class="details">
                            <div class="type">Merchant:</div>
                            <div class="name">{{ item.merchant }}</div>
                        </div>
                } @else if (isBolt11ClipboardItem(item)) {
                    <div class="details">
                        <div class="type">Description:</div>
                        <div class="name">{{ item.description }}</div>
                    </div>
                }
                </div>
                <button mat-icon-button (click)="onCopyClipboard(item.value)" [disabled]="item.value == clipboardContent">
                    <mat-icon>content_copy</mat-icon>
                </button>
            </div>
        } @if (history.length == 0) {
            <div class="default">
                <span>No History to display yet.</span>
            </div>
        }
    </div>
</div>
