<div class="container">
    @if (!clipboardItem || isAddressClipboardItem(clipboardItem)) {
        <div class="header">Clipboard</div>
    } @else {
        <div class="header">Clipboard: {{ clipboardItem.name }}</div>
    }
    <div class="content">
        @if (clipboardItem) {
            @if (isAddressClipboardItem(clipboardItem)) {
                <div class="item">
                    <div class="title">Address:</div>
                    <div class="value address">{{ clipboardItem.address }}</div>
                </div>
                <div class="item">
                    <div class="title">Wallet:</div>
                    <div class="value">
                        @if (clipboardItem.wallet) {
                            <div>
                                <img [src]="'assets/wallet/icon/' + getIcon(clipboardItem.wallet).icon" height="20" />
                            </div>
                            <div class="name">{{ clipboardItem.wallet.name }}</div>
                            <div class="pill found">FOUND</div>
                        } @else {
                            <div class="pill not-found">NOT FOUND</div>
                        }
                    </div>
                </div>
                <div class="item" *ngIf="clipboardItem.derivationPath">
                    <div class="title">Derivation Path:</div>
                    <div class="value">{{ clipboardItem.derivationPath }}</div>
                </div>
                <div class="unexpected">
                    <button mat-button color="accent" (click)="onShareFeedback()">Unexpected?</button>
                </div>
            } @else if (isPaymentClipboardItem(clipboardItem)) {
                <div class="item">
                    <div class="title">Value:</div>
                    <div class="value">{{ clipboardItem.value }}</div>
                </div>
                <div class="item">
                    <div class="title">Merchant:</div>
                    <div class="value">{{ clipboardItem.merchant }}</div>
                </div>
                <div class="item">
                    <div class="title">Description:</div>
                    <div class="value">{{ clipboardItem.description }}</div>
                </div>
                <div class="unexpected">
                    <button mat-button color="accent" (click)="onShareFeedback()">Unexpected?</button>
                </div>
            } @else if (isBolt11ClipboardItem(clipboardItem)) {
                <div class="item">
                    <div class="title">Value:</div>
                    <app-expandable-text class="value" [text]="clipboardItem.value" />
                </div>
                <div class="item">
                    <div class="title">Amount:</div>
                    <div class="value">
                      <app-bitcoin-amount [value]="clipboardItem.amount" />
                    </div>
                </div>
                <div class="item">
                    <div class="title">Description:</div>
                    <div class="value">{{ clipboardItem.description }}</div>
                </div>
                <div class="item">
                    <div class="title">Expiry:</div>
                    <div class="value">{{ clipboardItem.expiry }}</div>
                </div>
            } @else {
                <div class="value" *ngIf="!clipboardItem.private">{{ clipboardItem.value }}</div>
            }
        } @else {
            <div class="default">No Bitcoin/Nostr content detected.</div>
        }
    </div>
</div>
